<%= render "layouts/error", object: @user %>
<h1>User Edit</h1>
<%= form_with model: @user, local:true do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :image %>
    <%= f.attachment_field :profile_image, class: "form-control-file user_image" %>
  </div>
  <div>
    <%= f.label :introduction %>
    <%= f.text_area :introduction %>
  </div>
  <div>
    <%= f.submit "Update Profile" %>
  </div>
<% end %>